.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.pageTitle {
  font-size: 38px;
}
.todoContainer {
  width: 50%;
  height: 95vh;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px #000;
}
.createTodoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.inputWrap {
  position: relative;
  width: 50%;
}
.inputWrap input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #636363;
  padding: 5px 110px 5px 10px;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
}
.createTodoContainer button {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.listContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
  padding: 30px;
  box-sizing: border-box;
}
.listContainer article {
  width: 45%;
}
.listContainer article h3 {
  font-size: 25px;
  color: #333;
}
.todoListWrap {
  width: 100%;
  min-height: 600px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
  background:linear-gradient(to bottom right, #ebebeb, #b6bec7);
  box-sizing: border-box;
}
.todoItem {
  width: 100%;
  font-size: 22px;
  text-align: left;
  margin: 10px 10px 20px 10px;
  
  box-sizing: border-box;
}
.todoItem input {
  display: none;
}
.todoItem label:before{
  
}